body{
    margin: 0;
    padding: 0;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

header{
    display: flex;
    justify-content: space-between;
    background-color: #000;
    color:#fff;
    margin: 0;
    padding: 1% 1.5%;
    width: 100%;
    position:fixed;
}

header p{
    font-size: 0.75rem;
    font-weight:bolder;
}

header a{
    color: white;
    font-size: 0.75rem;
    text-decoration: none;
}

header nav{
    padding-top: 1.7%;
}

.abt{
    
    padding: 2.5rem 1rem 1rem 1rem;
    background-color: #4c57d5;
    color: white;
}

.contact ul{
    list-style: none;
    display: grid;
    gap: 25%;
    grid-template-columns: repeat(2, 30%);
    
}
.contact h3{
    text-align: center;
}
.contact ul li a{
    color: #000;
  text-decoration: none;
}

.imgs{
    width: 100%;
}

.imgs img{
   width: 50%;
   margin: 3% 25%; 
}
h2{
    text-align: center;
}

figcaption{
    text-align: center;
}

li{
    display: flex;
    justify-content:space-evenly;
}

li img{
    width: 25%;
}

nav{
    display: flex;
    justify-content: space-evenly;
}

nav img{
    width: 25%;
    height: 85%;
    margin-top: -2%;
}

@media (min-width: 48rem) {
    body{
        margin: 0;
        padding: 0;
        font-family:Georgia, 'Times New Roman', Times, serif;
    }
    
    header{
        display: flex;
        justify-content: space-between;
        background-color: #000;
        color:#fff;
        margin: 0;
        padding: 0.5% 1%;
    }
    
    header p{
        font-size: 0.75rem;
        font-weight:bolder;
    }

    .abt{
        margin-top: -0.2%;
        padding: 1.5rem 2rem;
        background-color: #4c57d5;
        color: white;
    }

    header nav{
        padding-top: 0.7%;
    }

    .imgs{
        width: 100%;
    }
    
    .imgs img{
       width: 20%;
       display: grid;
       grid-column: auto;
       grid-template-columns: repeat(2, 1fr);
    }

    .contact ul{
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .contact{
        margin-top: 3%;
    }
}